/* Typography */

body {
    font-family: sans-serif;
    background-color: #eee;
    color: #444;
}
a {
    color: #c93525;
}
h1, h2 {
    font-family: Bevan, serif;
    font-weight: normal;        /* TODO: better font that doesn't need this, so fallback works consistently */
}
h1 a, h2 a {
    color: #444;
    text-decoration: none;
}




/* Structural */

body {
    padding: 1.25em;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
    margin: 0 0 .5em;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 .667em;
}

p {
    margin: 0 0 1em;
}

a.screenshot {
    font-size: 0.625em;
    margin: 0 0 1.6em;
    display: block;
}

img.screenshot {
    width: 100%;
    margin: 0 0 1em;
}

@media (min-width: 30em) {
    img.screenshot {
        width: 30em;
    }

    /* .description {
     *     float: right;
     *     width: 25.26em;
     *     margin-left: 1em;
     * } */

    /* article {
     *     clear: both;
     *     float: left;
     * } */
}


/* image replacement */


/* TEMP */
nav {
    display: none;
}