/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* ubermac.net styles */
body {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #fff;
    color: #555;
    padding-top: 1em;
}
a {
    color: #c93525;
}
p {
    line-height: 1.5em;
}
h1, h2 {
    margin-bottom: 12px;
    font-family: Bevan, sans-serif;
    font-weight: normal;
}
h1 {
    color: #444;
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h2 a {
    color: #444;
    text-decoration: none;
    padding-right: 30px;
    background: url(r-arrow.png) no-repeat right center;
}
h2 a:hover {
    background-image: url(r-arrow-active.png);
}
header {
    margin: 20px;
}
article {
    margin: 20px 20px 40px;
    clear: both;
    float: left;
    width: 920px;
}
.screenshot {
    float: left;
    width: 480px;
    margin-right: 20px;
}
article h2, article p {
    float: left;
    width: 420px;
}

nav {
    position: fixed;
    background-color: #ccc;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 6px;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav a {
    color: #333;
}
