<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Thunderclese's Raid Planner<?php echo $raid['id_str']; ?></title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset/reset-min.css" /> 
  <link rel="stylesheet" type="text/css" href="raid_ui.css" />
  <meta name="description" content="A tool to plan class and group composition for your World of Warcraft raids." />
</head>
<body>
  <h1><a href="/raidplanner/">Thunderclese's Raid Planner</a></h1>
  <div id="contexthelp"><noscript>
    To use this app, you must first
    <a href="http://www.google.com/support/bin/answer.py?answer=23852">enable
    Javascript</a>.
  </noscript></div>
  <div id="raidwindow">
    <div id="group1">
      <div id="player0" class="playerslot <?php echo $raid[0]['class']; ?>"><?php echo $raid[0]['name']; ?></div>
      <div id="player1" class="playerslot <?php echo $raid[1]['class']; ?>"><?php echo $raid[1]['name']; ?></div>
      <div id="player2" class="playerslot <?php echo $raid[2]['class']; ?>"><?php echo $raid[2]['name']; ?></div>
      <div id="player3" class="playerslot <?php echo $raid[3]['class']; ?>"><?php echo $raid[3]['name']; ?></div>
      <div id="player4" class="playerslot <?php echo $raid[4]['class']; ?>"><?php echo $raid[4]['name']; ?></div>
    </div>
    <div id="group2">
      <div id="player5" class="playerslot <?php echo $raid[5]['class']; ?>"><?php echo $raid[5]['name']; ?></div>
      <div id="player6" class="playerslot <?php echo $raid[6]['class']; ?>"><?php echo $raid[6]['name']; ?></div>
      <div id="player7" class="playerslot <?php echo $raid[7]['class']; ?>"><?php echo $raid[7]['name']; ?></div>
      <div id="player8" class="playerslot <?php echo $raid[8]['class']; ?>"><?php echo $raid[8]['name']; ?></div>
      <div id="player9" class="playerslot <?php echo $raid[9]['class']; ?>"><?php echo $raid[9]['name']; ?></div>
    </div>
    <div id="group3">
      <div id="player10" class="playerslot <?php echo $raid[10]['class']; ?>"><?php echo $raid[10]['name']; ?></div>
      <div id="player11" class="playerslot <?php echo $raid[11]['class']; ?>"><?php echo $raid[11]['name']; ?></div>
      <div id="player12" class="playerslot <?php echo $raid[12]['class']; ?>"><?php echo $raid[12]['name']; ?></div>
      <div id="player13" class="playerslot <?php echo $raid[13]['class']; ?>"><?php echo $raid[13]['name']; ?></div>
      <div id="player14" class="playerslot <?php echo $raid[14]['class']; ?>"><?php echo $raid[14]['name']; ?></div>
    </div>
    <div id="group4">
      <div id="player15" class="playerslot <?php echo $raid[15]['class']; ?>"><?php echo $raid[15]['name']; ?></div>
      <div id="player16" class="playerslot <?php echo $raid[16]['class']; ?>"><?php echo $raid[16]['name']; ?></div>
      <div id="player17" class="playerslot <?php echo $raid[17]['class']; ?>"><?php echo $raid[17]['name']; ?></div>
      <div id="player18" class="playerslot <?php echo $raid[18]['class']; ?>"><?php echo $raid[18]['name']; ?></div>
      <div id="player19" class="playerslot <?php echo $raid[19]['class']; ?>"><?php echo $raid[19]['name']; ?></div>
    </div>
    <div id="group5">
      <div id="player20" class="playerslot <?php echo $raid[20]['class']; ?>"><?php echo $raid[20]['name']; ?></div>
      <div id="player21" class="playerslot <?php echo $raid[21]['class']; ?>"><?php echo $raid[21]['name']; ?></div>
      <div id="player22" class="playerslot <?php echo $raid[22]['class']; ?>"><?php echo $raid[22]['name']; ?></div>
      <div id="player23" class="playerslot <?php echo $raid[23]['class']; ?>"><?php echo $raid[23]['name']; ?></div>
      <div id="player24" class="playerslot <?php echo $raid[24]['class']; ?>"><?php echo $raid[24]['name']; ?></div>
    </div>
    <div id="group6">
      <div id="player25" class="playerslot <?php echo $raid[25]['class']; ?>"><?php echo $raid[25]['name']; ?></div>
      <div id="player26" class="playerslot <?php echo $raid[26]['class']; ?>"><?php echo $raid[26]['name']; ?></div>
      <div id="player27" class="playerslot <?php echo $raid[27]['class']; ?>"><?php echo $raid[27]['name']; ?></div>
      <div id="player28" class="playerslot <?php echo $raid[28]['class']; ?>"><?php echo $raid[28]['name']; ?></div>
      <div id="player29" class="playerslot <?php echo $raid[29]['class']; ?>"><?php echo $raid[29]['name']; ?></div>
    </div>
    <div id="group7">
      <div id="player30" class="playerslot <?php echo $raid[30]['class']; ?>"><?php echo $raid[30]['name']; ?></div>
      <div id="player31" class="playerslot <?php echo $raid[31]['class']; ?>"><?php echo $raid[31]['name']; ?></div>
      <div id="player32" class="playerslot <?php echo $raid[32]['class']; ?>"><?php echo $raid[32]['name']; ?></div>
      <div id="player33" class="playerslot <?php echo $raid[33]['class']; ?>"><?php echo $raid[33]['name']; ?></div>
      <div id="player34" class="playerslot <?php echo $raid[34]['class']; ?>"><?php echo $raid[34]['name']; ?></div>
    </div>
    <div id="group8">
      <div id="player35" class="playerslot <?php echo $raid[35]['class']; ?>"><?php echo $raid[35]['name']; ?></div>
      <div id="player36" class="playerslot <?php echo $raid[36]['class']; ?>"><?php echo $raid[36]['name']; ?></div>
      <div id="player37" class="playerslot <?php echo $raid[37]['class']; ?>"><?php echo $raid[37]['name']; ?></div>
      <div id="player38" class="playerslot <?php echo $raid[38]['class']; ?>"><?php echo $raid[38]['name']; ?></div>
      <div id="player39" class="playerslot <?php echo $raid[39]['class']; ?>"><?php echo $raid[39]['name']; ?></div>
    </div>
  </div>
  <div id="playerwell">
    <div class="playerslot deathknight">Death Knight</div>
    <div class="playerslot druid">Druid</div>
    <div class="playerslot hunter">Hunter</div>
    <div class="playerslot mage">Mage</div>
    <div class="playerslot paladin">Paladin</div>
    <div class="playerslot priest">Priest</div>
    <div class="playerslot rogue">Rogue</div>
    <div class="playerslot shaman">Shaman</div>
    <div class="playerslot warlock">Warlock</div>
    <div class="playerslot warrior">Warrior</div>
  </div>
  <div id="trashcan" class="trashcan">
    Drag players here to delete
  </div>
  <div id="savearea"></div>
  <div id="footer">
    Questions? Problems?  Email <a href="mailto:raidplanner@gmail.com">raidplanner@gmail.com</a><br />
    Copyright 2008 ubermac.net
  </div>
  <div id="helpstrings">
    <div id="add">Click below to add players to the raid:</div>
    <div id="arrange">Drag players to rearrange, or double-click to edit player name</div>
    <div id="edit">Enter new name &amp; hit enter to save, or esc to cancel</div>
    <div id="saved">Your raid has been saved.  Bookmark this page to view your raid later.</div>
    <div id="save_error">Unable to save your raid.  The server may be down.  If this error persists, please <a href="mailto:raidplanner@gmail.com">contact the management</a>.</div>
  </div>
  <script type="text/javascript" src="jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="jquery-ui-personalized-1.5rc1.min.js"></script>
  <script type="text/javascript" src="jquery.cookie.js"></script>
  <script type="text/javascript" src="raid_ui.js"></script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5288239-1");
    pageTracker._trackPageview();
  </script>
</body>
</html>
